.slidewrapper img {
    height: 200px;
    width: 200px;
    float: left;
}

.arrow {
    width: 32px;
    height: 100%;
    visibility: hidden;
    position: absolute;
}

.arrow_thumb {
    width: 32px;
    height: 100%;
    position: absolute;
}

.arrow_thumb_vert {
    width: 100%;
    height: 32px;
    position: absolute;
}

.arrow_thumb_vert.next {
    bottom: 0;
    background: url(../img/down.png) center center no-repeat;
}

.arrow_thumb_vert.prev {
    top: 0;
    background: url(../img/up.png) center center no-repeat;
}

.next {
    right: 0;
    background: url(../img/next.png) center center no-repeat;
}

.prev {
    left: 0;
    background: url(../img/prev.png) center center no-repeat;
}

.slider-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
}

.slider-controls .control-slide {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/radiobtn.png) center bottom no-repeat;
    height: 12px;
    width: 12px;
}

.slider-controls .control-slide.active {
    background: url(../img/radiobtn-a.png) center bottom no-repeat;
}

.caption {
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    display: block;
}

.caption h1 {
    opacity: 1;
    color: white;
    position: absolute;
    margin: 0 0 0 50px;
    line-height: 90px;
    text-transform: uppercase;
}

ul.slidewrapper {
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
    margin: 0;
    padding: 0;
}

ul.slidewrapper li {
    background-color: #DDDDDD;
    display: none;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.slidewrapper li.active {
    display: inline;
}

ul.thumbnails-wrapper li {
    float: left;
    list-style: none;
    background-size: cover;
    width: 185px;
    height: 115px;
}

ul.thumbnails-wrapper li.active {
    opacity: 0.6;
}

.default-theme.thumbnails-wrapper li a {
    color: #547b9c;
    text-decoration: none;
    position: absolute;
}

img.on-center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

img.on-size {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}