body {
    font-family: Corbel, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.main {
    width: 25%;
    height: 20%;
    position: absolute;
}

.main_right {
    width: 25%;
    height: 20%;
    position: absolute;
    margin-left: 600px;
}

.main_bottom {
    width: 25%;
    height: 20%;
    position: absolute;
    margin-top: 300px;
}

.main_left {
    width: 25%;
    height: 20%;
    position: absolute;
    margin-top: 300px;
    margin-left: 600px;
}

.main_top {
    width: 25%;
    height: 20%;
    position: absolute;
    margin-top: 600px;

}

.main_right_link {
    width: 25%;
    height: 20%;
    position: absolute;
    margin-top: 600px;
    margin-left: 600px;
}

.slidewrapper {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

.slide {
    float: left;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.caption {
    width: 50%;
    height: 90px;
    position: absolute;
    bottom: 30px;
    background-color: black;
    opacity: 0.6;
}

.caption h1 {
    opacity: 1;
    color: white;
    position: absolute;
    margin:  0 0 0 50px;
    line-height: 90px;
    text-transform: uppercase;
}

.slide img {
}

.first {
    background: #79b1df;
}

.second {
    background: #79b1df;
}

.third {
    background: #79b1df;
}

.arrow {
    width: 45px;
    height: 100%;
    position: absolute;
}

.arrow_thumb {
    width: 32px;
    height: 100%;
    position: absolute;
}

.arrow_thumb_vert {
    width: 100%;
    height: 32px;
    position: absolute;
}

.arrow_thumb_vert.next {
    bottom: 0;
    background: url(../img/down.png) center center no-repeat;
}

.arrow_thumb_vert.prev {
    top: 0;
    background: url(../img/up.png) center center no-repeat;
}

.next {
    right: 0;
    background: url(../img/next.png) center center no-repeat;
}

.prev {
    left: 0;
    background: url(../img/prev.png) center center no-repeat;
}

.slider-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -24px;
}

.slider-controls .control-slide {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/radiobtn.png) center bottom no-repeat;
}

.slider-controls .control-slide.active {
    background: url(../img/radiobtn-a.png) center bottom no-repeat;
}

.thumbnail {

}

.thumbnail-container {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

.thumbnail-container .thumb {
    /*margin: 5px 5px 0 0;*/
    width: 100%;
    float: left;
    list-style: none;
    background-color: #79b1df;
}

.thumbnail-container .thumb.active {
    opacity: 0.6;
}

.thumbnail-container .thumb a {
    color: #547b9c;
    text-decoration: none;
    position: absolute;
}